<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this profile from being updated:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_area :details, placeholder: "My perfect job and relationships..."%>
  <br>
  My professional modeling head shot:
  <br>
  <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  <div class="actions">
    <%= form.submit "improve self" %>
  </div>
<% end %>
