<p id="notice"><%= notice %></p>

<h1>Everyone on Fakesbook:</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user %></td>
        <td><%= @friend_statuses[user.id] %></td>
        <td><%= link_to "add friend", users_path(id: @user.id, friend_toggle_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
